.order-page{
    width: 100%;
    box-sizing: border-box;
    padding: 1% 8% 4%;
    margin-top: 70px;
    background-color: #f6f7fb;
}
.heading{
    font-weight: 750;
}
.order-container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: -15px;
}
.filter-container{
    width: 180px;

    justify-content: center;
    align-items: center;
}
.filter-option{
    display: flex;
    flex-direction: column;
}
.check-box{
    margin: 6px 0;
    cursor: pointer;
}
.check-box input{
    margin-right: 18px;
}

.filter-option p{
    margin:24px 0px ;
    margin-right:20px;
}

.order-table{
    width: 100%;
    border-collapse: collapse;
}
.order-table tr{
    vertical-align: middle;
    height: 80px;
}
.order-table th{
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}
.order-table td{
    background-color: #fff;
    border-bottom: 4px solid #f6f7fb;
    text-align: left;
    padding: 12px 24px;
    font-size: 14px;
}
.light-font{
    color: #8c8c8c
}
.dark-font{
    color: rgba(0,0,0,.8);
    font-weight: 500;
}