.user-page{
    width: 100%;
    box-sizing: border-box;
    padding: 1% 8% 4%;
    margin-top: 70px;
    background-color: #f6f7fb; 
}

.heading{
    font-weight: 750;
}

.user-container{
    width: 100%;
}

.search-container{
    padding-bottom: 40px;
}

.search-container input{
    width: 45%;
    padding: 14px;
    border: none;
    border-bottom: 1px solid black;
}
.search-container input:focus{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.search-container button{
    display: inline-block;
    border-radius: 30px;
    padding: 14px 36px;
    font-size: 12px;
    letter-spacing: 1px;
    background-color: #20b883;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
    margin-left: 40px;
}

table{
    border-collapse: collapse;
    align-items: left;
    width: 100%;
    height: auto;
    color: black;
    border: none;
    text-align:left;
}

.light-font{
    color: #8c8c8c
}
.dark-font{
    color: rgba(0,0,0,.8);
    font-weight: 500;
}

.user-table{
    width: 100%;
    padding: 10px;
    border: none;
}
.user-table th{
    padding: 10px;
}
.userList{
    width: 100%; 
    background-color: white;
    border-collapse: collapse;
}
tbody{
    background-color: white;
}

.userList td{
    padding: 10px;
    border-bottom: 4px solid #f6f7fb;

}